{% extends "include.html" %}
{% block content %}
{% include "navbar.html" %}
{% load static %}
<body class="container-fluid bg-white text-center text-dark">
    <img src="{% static 'kamaraj.jpg' %}" alt="" width="600" height="180"  class=" rounded  " style="margin-top: 60px;">
    <h1 class="display-4 fw-bold" style="margin-top: 10px;">HOSTEL MESS MANAGEMENT SYSTEM</h1>
    <form action="" method="POST">
            {% csrf_token %}
        <div class="container col-offset-5 col-md-5 col-xs-5 text-center rounded fw-bold border border-primary" style="margin-bottom: 100px;">
            <form action="" method="POST">
                {% csrf_token %}
                <br><h1 class=" fw-bold">CHECK STUDENT</h1>
                {% if studentData %}
                <img src="{{ studentData.image.url }}" alt="{{studentData.studentName}}" width="200" height="250" class="border rounded border-primary "><br><br>
                {% else %}
                <img src="{% static 'user.png' %}" alt="" width="200" height="250" class="border rounded border-primary "><br><br>
                {% endif %}
                <input type="text" name="rollNumber" placeholder="ENTER THE ROLL NUMBER" class="form form-control" id=""><br>
                <input type="submit" value="CHECK" class="btn btn-primary w-100"><br><br>
            </form>
        </div>

    </form>
</body>
{% endblock %}